# vim
.*.sw[a-z]
*.un~
Session.vim
.tags

# mine
.idea

# OSX ignores
.DS_Store
.AppleDouble
.LSOverride
Icon

._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# gem
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Appraisal
/gemfiles/.bundle/
/gemfiles/*.gemfile.lock
